
.navbar a {
	color: white;
	height: auto;
}

.navbar a:hover {
	color: #2C3539;
	font-weight: bold;
}

.navbar-brand{
	font-weight: bold;
	font-size: 24px;
	padding-left: 30px
}

.search {
	padding-top: 8px;
}

.sports {
	margin: 1px 1px 1px 1px;
}

.sports a {
	text-decoration: none;
	color: black;
}

.sports img {
	max-height: 230px;
	margin: auto;
}

.sports img:hover {
	border: 3px solid black;
}

.sports:hover {
	border: 1px solid #8b0000;
}

.pods {
	height: 250px;
	position: relative;
}

.pods:hover {
	border: 3px solid black;
}

.pods a {
	text-decoration: none;
	color: black;
}

.pods img {
	height: 85%;
	width: auto;
	margin: auto;
}

.pod-img-holder {
	height: 250px;
}

.pod-title {
	border-bottom: 2px solid #8b0000;
}

.sport-title {
	text-decoration: underline #8b0000;
}

.btn {
	background-color: white;
}

.listen {
	border: 2px solid black;
	font-size: 1.5em;
	color: #8b0000;
}

.listen:hover {
	border: 1px solid white;
	font-size: 2em;
	color: white;
	background-color: #8b0000;
}